*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    background: url(ssssssss.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header{
    position: fixed;
    top: 0%;
    width: 100% ;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid rgba(255, 255, 255, .2);
    
}

.logo{
    width: 70px;
    height: 70px;

}
.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;

}
.navbar a:hover::before {
    width: 100%;
}

.forma {
    margin-top: 10%;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    padding: 30px 40px;

}

footer{
    background: #4B4B4B;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-items: center;
    align-items: center;
    height: 80px;

}

.icon-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px;
    flex-wrap: wrap;
    color: white;
    font-size: 29px;
}


.icon-elem{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}
.icon-elem:hover{
    transform: translateY(-10px);
}


.icon-elemen{
    color: aliceblue;
}

.text {
    font-family: sans-serif;


}